* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.maicontainer {
    display:grid;
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
    grid-column: 1 / span 5;
    background-color: lightslategray;
}

h3 {
    margin-bottom: 20px;
}

.lines {
    display: inline;
    text-decoration: none;
    list-style: none;
    margin-right: 10px;
}

.article {
    grid-column: 1 / span 3;
}

p {
    margin-bottom: 10px;
}

.links {
    grid-column: 5 / span 2;
    text-align: center;
    list-style: none;
    text-decoration: none;
}

.footer {
    grid-column: 1 / span 5;
    background-color: lightslategray;
    text-align: center;
}

a {
    text-decoration: none;
}