h1 {
    color:darkslategray;
    text-align: center;
    font-weight: bold;
    font-family: 'Akronim', cursive;
    font-size: 60px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

html {
    background-color:cadetblue;
    font-family: 'Akronim', cursive;
}

body {
    align-content: center;
    color: cadetblue;
    border: 20px solid lightcoral;
}

h3 {
    color:firebrick;
    text-align: center;
    font-family: 'Akronim', cursive;
    font-size: 30px;
    letter-spacing: 0.1em;
}

form {
    font-family: 'Akronim', cursive;
    color:darkslateblue;
    font-size: 25px;
    text-align: center;
}

.forward {
    font-family: 'Akronim', cursive;
    color:darkgoldenrod;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    letter-spacing:  0.3em;
}

.battle {
    font-family: 'Akronim', cursive;
    color:darkred;
    font-size: 60px;
    line-height: 1.8;
}

.equip {
    border-radius: 10%;
    border: 8px solid seagreen;
}

.sword {
    border: 10px groove sienna;
    border-radius: 5%;
    opacity: 0.7;
}

iframe {
    align-content: center;
    display:block;
    margin: auto;
    
}

.fear {
    line-height: 1.8;
    background-color: black;
}

.sped {
    color: darkred;
}

.demons {
    color:darkred;
    word-spacing: 0.2em;
}

.lead {
    color:seagreen;
    font-size: 50px;
    font-weight: bolder;
    letter-spacing:  0.3em;
    text-align: center;
}

.greenp {
    color:seagreen;
    border: 5px solid darkred;
    border-radius: 20px;
}

.axepiz {
    border-radius: 10%;
    border: 8px solid seagreen;
    opacity: 0.8;
}

.keyw {
    color: burlywood;
    letter-spacing: 0.1em;
}

.burnt {
    color:black;
}

.sburnt {
    color: dimgrey;
}

.chewy {
    color: burlywood;
}

.forest {
    color:forestgreen
}

.sea {
    color: cyan;
}

.addy {
    text-align: center;
}

.batname {
    color:darkred;
}

.goldy {
    color:goldenrod;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gtc {
    color:lightyellow
}

.wb {
    color: saddlebrown;
}

.ffh {
    color:forestgreen
}

.wm {
    color:tan
}

.rpt {
    color: red;
}

.cvc {
    justify-content: center;
}

.warin {
    justify-content: center;
    font-size: 60px;
    color: darkred;
    align-items: center;
    display: flex;
}